html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.gradient-buttons .btn {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 40%, rgba(0,0,0,0.15) 60%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

.card {
    margin: 5px;
    padding: 10px;
    box-shadow: 0 3px 8px -4px;
    max-width: 32%;
}