@page
@model IndexModel
@{
    ViewData["Title"] = "TODO List";
}

<h1>TODO</h1>
<hr />

<form method="post">
    <div class="form-group">
        <label asp-for="TodoItem.Title" class="control-label"></label>
        <input asp-for="TodoItem.Title" class="form-control" />
        <span asp-validation-for="TodoItem.Title" class="text-danger"></span>
    </div>
    <button type="submit" asp-page-handler="CreateTodoItem" class="btn btn-outline-info" id="btnCreateTodoItem"> + Add Todo Item</button>
</form>

<table class="table">
    <tr>
        <th>
            Task
        </th>
        <th>
            Status
        </th>
        <th>
            Lifetime
        </th>
        <th>
            Remove
        </th>
    </tr>
    @foreach (var item in Model.TodoItems)
    {
        <tr>
            <th>
                @item.Title
            </th>
            <th>
                @if (item.Complete){
                    <p>Complete</p>
                }
                else
                {
                    <p>Incomplete</p>
                }
            </th>
            <th>
                @Model.TimeAlive(item.CreationDate)
            </th>
            <th>
                <form method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" asp-page-handler="DeleteTodoItem" class="btn btn-warning" id="btnDeleteTodoItem">Remove</button>
                </form>
            </th>
        </tr>
    }
</table>
