@page
@model Kadince_Todo_Ramanujam.Pages.Todo.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TodoItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TodoItem.Id" />
            <div class="form-group">
                <label asp-for="TodoItem.Title" class="control-label"></label>
                <input asp-for="TodoItem.Title" class="form-control" />
                <span asp-validation-for="TodoItem.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TodoItem.CreationDate" class="control-label"></label>
                <input asp-for="TodoItem.CreationDate" class="form-control" />
                <span asp-validation-for="TodoItem.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TodoItem.Complete" /> @Html.DisplayNameFor(model => model.TodoItem.Complete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
